.comment {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        margin-right: 10px;
    }

    b {
        font-size: 13px;
        opacity: 0.8;
        margin-left: 10px;
    }

    span {
        font-size: 12px;
        opacity: 0.8;
        margin-left: 10px;
    }
}

.text {
    margin-left: 30px !important;
}